[2017-04-13 15:16] quanvo87 opened #4 "Return error if running on Linux Swift 3.1 because of memory corruption bug in base64 encoding"

[2017-04-17 20:51] #4 closed, assigned to quanvo87

[2017-05-17 15:12] quanvo87 opened #7 "Add tests for file attachment cache"

[2017-05-17 15:13] quanvo87 opened #8 "Cache HTTP and Data attachments"

[2017-05-17 18:36] quanvo87 opened #10 "Fix any memory leaks"

[2017-05-24 18:13] #7 closed, assigned to nobody

[2017-05-24 18:13] #8 closed, assigned to nobody

[2017-05-24 20:35] #10 closed, assigned to nobody

[2017-05-31 19:24] quanvo87 opened #15 "add custom port support"

[2017-05-31 19:25] quanvo87 opened #16 "move testing credentials to private repo"

[2017-06-01 14:16] #15 closed, assigned to nobody

[2017-06-01 21:04] #16 closed, assigned to nobody

[2017-07-03 06:58] collinhundley opened #22 "Connecting to Amazon SES"
Hey @quanvo87, I've been having a hard time connecting to Amazon SES. Here's how I'm connecting:

[code]

With port 587, I get this error:

`530 Must issue a STARTTLS command first`

If I change the port to 465 (TLS Wrapper instead of STARTTLS), it just times out instead of connecting.

Any ideas?  Everything works from the command line, so it's not a firewall issue.  Thanks!

[2017-07-04 07:23] quanvo87 commented on #22
@collinhundley tomorrow is a holiday for me so I'll be able to look into the issue a little then. But I will definitely take a deep dive Wednesday!

Some initial ideas are--it looks like Amazon SES requires an encrypted connection. So you will need to provide information to initialize an `SSL` instance and include that in the `SMTP` struct. If you haven't already, this [blog post](https://develope

[2017-07-04 15:48] collinhundley commented on #22
@quanvo87 thanks for taking the time to look into this!

I also tried initializing an `SSL` with a self-signed cert, but this is the output when trying to connect:

[code]

I can't seem to pinpoint the issue, so hopefully you have a better idea.

I should also point out that attempting to connect to SES on port 465 (or any of the other SMTPS ports) just hangs forever, until it eventually times out

[2017-07-05 00:39] quanvo87 commented on #22
When you created your self-signed cert, did you add a password to it? If not, try creating a new one with a password, and provide your `SSL` instance with that password.

Also, are you using an `SSL` instance that is supported on your OS? On this [documentation page](https://ibm-swift.github.io/Swift-SMTP/Structs/SSL.html#/s:FV9SwiftSMTP3SSLcFT17withChainFilePathGSqSS_12withPasswordGSqSS_20usingSe

[2017-07-05 04:40] collinhundley commented on #22
Hey @quanvo87, your suggestion to add the password did the trick!  Seems to be working now on macOS, so I'll test Linux soon.

As a side note, it looks like `SMTPSocket` is logging a large amount of information. Probably useful for debugging, but maybe it could be throttled back a bit for production? I've found that Kitura's logging in `verbose` mode strikes a good balance between useful informati

[2017-07-05 13:59] quanvo87 opened #23 "Set logging to debug"

[2017-07-05 14:02] quanvo87 opened #24 "Add user friendly info"
Like self-signed certs needing a password, and suggestions on how to troubleshoot some error messages.

[2017-07-05 14:06] quanvo87 commented on #22
Good to hear! I'm going to update the docs to include information like this--and make passwords not optional for now (and raise an issue in the `BlueSSLService` package as well).

I'll look into throttling logging for production, too.

[2017-07-05 17:02] collinhundley commented on #22
Thanks for your help on this.

I do have one question regarding SSL certs:  can you explain why a certificate is necessary on the client side? It seems like the server (in this case SES) should present a certificate when we make a connection, rather than the client.  Along with that, are there any security concerns with using self-signed certs for SMTP? The encryption is the same, so it seems like

[2017-07-05 17:09] collinhundley opened #26 "Allow headers to be replaced"
I tried sending an email formatted as HTML, by including an extra header:

[code]

However, we get this error:

[code]

It looks like `SMTPSocket` is still sending `Content-Type: text/plain` along with the new header, which is invalid.

Is there a way we can update the API to overwrite headers rather than just appending them?  Or, for my specific use case, an alternative method for sending HTML em

[2017-07-05 18:33] youming-lin commented on #22
@collinhundley Client cert is needed as part of the TLS handshake:

![SMTP TLS Handshake](https://upload.wikimedia.org/wikipedia/commons/thumb/a/ae/SSL_handshake_with_two_way_authentication_with_certificates.svg/1000px-SSL_handshake_with_two_way_authentication_with_certificates.svg.png)

I *think* it's OK to use self-signed cert in client (not server). **WARNING**: I'm not a security expert, pleas

[2017-07-05 18:53] quanvo87 commented on #26
We will change the APIs to overwrite headers instead of append them. This is how it originally was, but was changed for safety. But now I see it's necessary to give users this power.

One alternative for sending HTML emails is creating an [`Attachment`](https://ibm-swift.github.io/Swift-SMTP/Structs/Attachment.html#/s:FV9SwiftSMTP10AttachmentcFT11htmlContentSS12characterSetSS11alternativeSb17addit

[2017-07-06 05:05] collinhundley commented on #26
@quanvo87 it looks like there's still one lingering issue:  in `DataSender.swift` there's a string that seems to get prepended to every message:

[code]

Since we're still hard-coding `Content-Type`, there's a duplicate and it gets rejected by the server.

Are these headers actually necessary? I wonder if we could add them to the main headers dictionary prior to sending (if the user hasn't set the

[2017-07-06 16:39] quanvo87 commented on #26
It seems that header was not necessary. In the master branch now, it is removed completely. Can you see if that solved the issue?

Also, was sending the HTML as an attachment not an option?

[2017-07-07 02:55] collinhundley commented on #26
Hey @quanvo87, we'll need a new release to test it out.  However - I made the same changes on my local revision but it doesn't seem to work... the email sends, but the message body is empty. Not sure why.

[2017-07-07 08:01] quanvo87 commented on #26
Could you post the email and any attachments you are sending?

[2017-07-08 17:26] collinhundley opened #29 "BlueCryptor dependency missing .git extension."
Can we add `.git` to the end of the BlueCryptor URL? SPM can't solve the dependency graph if another package in your project uses BlueCryptor as well.

[2017-07-08 17:35] collinhundley commented on #26
@quanvo87 here's an example:

[code]

The message comes through with the correct subject, but a completely empty body.

It looks like `plainTextHeader` might have been important... if I keep `plainTextHeader`, but remove the `Content-Type` portion, everything works correctly.

[2017-07-10 15:09] #23 closed

[2017-07-10 15:57] quanvo87 commented on #26
I ran this code on the latest [release](https://github.com/IBM-Swift/Swift-SMTP/releases/tag/v1.0.6), and the email text was correctly formatted (I connected with my Gmail account). However when I removed the `Content-Type` header, the body was _not blank_, but also _not correctly formatted_.

So you're right, the plain text portion of an email should have a header in by default, but it should be

[2017-07-10 16:17] #29 closed

[2017-07-10 16:48] collinhundley commented on #26
@quanvo87 I've switched over to my Gmail account to make sure it wasn't an AWS issue, but the results are the same. However, I think I've pinpointed part of the issue...

The email body that I was actually sending is slightly different.  Try running the same test with this body:

`"This is a test HTML message.<br><br>Here is some more text:<br>Hello."`

Empty message.

But, if you remove the colon

[2017-07-10 21:21] quanvo87 commented on #26
@collinhundley You're right! The colon caused the body to be blank. I have no idea why.

We have a PR open that addresses this. In summary,
- For plain text content of an email, these default headers are added:
  - `CONTENT-TYPE: text/html; charset=utf-8`
  - `CONTENT-TRANSFER-ENCODING: 7bit`
  - `CONTENT-DISPOSITION: inline`
- These headers can be overwritten by the user with the `additionalHeade

[2017-07-10 21:22] quanvo87 commented on #22
@collinhundley We are meeting with our security expert tomorrow and will have more information about this soon.

[2017-07-10 21:27] collinhundley commented on #26
@quanvo87 great to hear!  I glanced over the PR; it looks like this should work nicely.

With the body mentioned above, did you still set `additionalHeaders` to `["Content-Type" : "text/html; charset=utf-8"]`?  When I do that, it renders correctly:

[code]

[2017-07-10 21:31] collinhundley commented on #22
@quanvo87 that's great, I'd love to hear more about the certificates.

My understanding is that self-signed certs offer the same security as the ones from CAs; they just can't be trusted by browsers. But for an email server (my own server connecting to AWS), it *seems* like self-signed certs should be fine, since I know that I can trust my own certificate.

If you find out otherwise please share!

[2017-07-11 18:17] collinhundley commented on #26
@quanvo87 the new release seems to mostly work - I'm now able to send HTML emails.

However, attempting to change the `Content-Type` gives us this error:

[code]

This happens for example if I try to send a plaintext email and set `additionalHeaders` to this:

[code]

I'm not 100% sure, but it looks like we're sending headers in 2 places:  in the actual request headers, and prepended to the messag

[2017-07-11 19:09] quanvo87 commented on #26
What should be happening is the request headers and any `additionalHeaders` are sent first, and these headers apply to the entire email. The rest of the email consists of subsections, which will have their own headers based on what type content they are (plaintext, mixed, alternative, related).

For plaintext, we check for `Content-Type`, `Content-Transfer-Encoding`, and `Content-Disposition` in t

[2017-07-11 19:50] collinhundley commented on #26
@quanvo87 I have no reason to use `test/plain` myself, but was just testing stuff. However, the same error occurs if you add `Content-Type: text/html; charset=utf-8` to `additionalHeaders`.

[2017-07-11 22:06] youming-lin commented on #22
@collinhundley After talking with @gtaban, our security expert, turns out I was wrong in my understanding of the TLS handshake.

Whether or not a client certificate is needed depends on the SMTP server; the certificate is only used for authentication purposes, and is only needed when the server demands client authentication via certificate.

We'll update `Kitura-SMTP` and make client certificate o

[2017-07-12 03:55] collinhundley commented on #22
@youming-lin thanks for following up. I'll be watching out for an update.

[2017-07-12 18:56] gtaban commented on #22
Hi @collinhundley , I haven't worked with SMTP security too much so hopefully I won't say too many wrong things. I'll start with some background that you probably know already!

There are two main levels of security involved with SMTP:
- SMTP Auth which handles the application level authentication, such as user password
- TLS which handles the transport level security ( secrecy of the transmitted

[2017-07-12 19:13] quanvo87 opened #32 "Enable option to init SSL with no cert"

[2017-07-13 13:11] quanvo87 opened #33 "Add APIs for `Mail` and `Send` that take variadic `to` and `mails` params"

[2017-07-13 17:35] #33 closed

[2017-07-17 16:20] quanvo87 commented on #32
Addressed in https://github.com/IBM-Swift/Swift-SMTP/releases/tag/v1.0.8

[2017-07-17 16:20] #32 closed

[2017-07-17 16:20] #22 closed

[2017-07-17 16:21] quanvo87 commented on #26
This is addressed in the latest release https://github.com/IBM-Swift/Swift-SMTP/releases/tag/v1.0.8

[2017-07-17 17:42] collinhundley commented on #26
@quanvo87 Everything seems to work great. Thanks!

[2017-07-17 17:42] #26 closed

[2017-07-17 18:30] quanvo87 commented on #26
@collinhundley Thanks for your feedback! There's surely more improvements to be made and please don't hesitate to open up another issue

[2017-07-26 19:10] quanvo87 commented on #32
Issue moved to [IBM-Swift/Kitura #1130](https://github.com/IBM-Swift/Kitura/issues/1130) via [**ZenHub**](https://www.zenhub.com/)

[2017-07-26 19:11] quanvo87 commented on #26
Issue moved to [IBM-Swift/Kitura #1131](https://github.com/IBM-Swift/Kitura/issues/1131) via [**ZenHub**](https://www.zenhub.com/)

[2017-08-07 13:37] quanvo87 opened #39 "Use new BlueSocket connect with timeout API"

[2017-08-07 15:30] leanne63 commented on #39
Does this, by chance, relate to this message:

I'm specifying Ports.ssl.rawValue, have changed the timeout all the way to 30 seconds, but still keep getting that message. I can connect and send successfully using other packages.

[2017-08-07 15:52] quanvo87 commented on #39
It may be, and we will be working on a fix. In the meantime, could you tell what server you're trying to connect to and on what port?

[2017-08-07 18:55] leanne63 commented on #39
smtpout.secureserver.net, 465

[2017-08-07 19:12] quanvo87 commented on #39
Can you try port 3535?

[2017-08-07 19:19] leanne63 commented on #39
Will do....

[2017-08-07 19:22] leanne63 commented on #39
3535 worked

[2017-08-18 18:37] leanne63 opened #41 "Message-Id improperly formatted"
**Problem**:
Based on the current MESSAGE-ID format (as of v1.0.8), messages sent via Swift-SMTP are being marked as spam.

For example, Google changes the MESSAGE-ID value from
`C3740F09-A2C0-4A84-A382-85FE08C87556.Swift-SMTP`
for Gmail recipients to
`<59971d49.8153650a.c8814.4b18SMTPIN_ADDED_BROKEN@mx.google.com>`
and sends the message to the spam folder.

The correct format for the MESSAGE-ID f

[2017-08-21 23:42] leanne63 commented on #41
I'm working on submitting a fix - got sidetracked by the eclipse, lol. Works on Mac; testing in Linux before submitting. (Emailed my form, too.)

[2017-08-22 02:23] quanvo87 commented on #41
@leanne63 Thanks for pointing this out! I tried implementing a fix and have tagged a release. Would you like to give it a try? https://github.com/IBM-Swift/Swift-SMTP/releases/tag/1.1.0
Note the breaking API changes.

[2017-08-22 02:23] quanvo87 commented on #41
Also didn't mean to close the issue--accident.

[2017-08-22 16:32] quanvo87 commented on #39
Fixed in https://github.com/IBM-Swift/Swift-SMTP/releases/tag/v1.1.1

[2017-08-22 16:32] #39 closed

[2017-08-24 18:38] leanne63 commented on #41
So, it does work, @quanvo87 . However, I was thinking of a solution more similar to the following:

[code]

That doesn't break the API. It also saves the library user from having to determine/code a separate hostname in the email initialization, when the sender's email domain will work just fine.

[2017-08-24 19:53] quanvo87 commented on #41
@leanne63  I like that this doesn't break the API.

There are some things I am looking into:
- Does `smtp.gmail.com` vs `gmail.com` matter?
  - Currently, to send an email from my account, I provide `smtp.gmail.com` as the hostname, and `xxx@gmail.com` as the `from` email.
  - What if a hostname that is different from the one pulled from the email address is required?

[2017-08-24 21:20] leanne63 commented on #41
**To answer your questions in short:**

The spec doesn't say exactly what we need to put in the right-hand side of the "@" in a message-id.
It does recommend that this text represent a domain.

The spec says the right-hand side of the "@" needs to be a "dot-atom-text" - which means `[sometext-without-dots].[sometext-without-dots]`.

**Here are some quotes from the spec to explain in more detail:**

[2017-08-25 13:51] quanvo87 commented on #41
Awesome, thanks for the breakdown! I see no reason not to go with your implementation then. Were you working on a PR? Otherwise, I'll revert my changes, and add what you have suggested.

[2017-08-25 14:28] leanne63 commented on #41
I can do a PR. I'll get it out there sometime today.

[2017-08-30 13:24] quanvo87 opened #47 "Remove attachment caching"
Might be causing intermittent test failures. Not sure any performance gain is worth it.

[2017-08-30 13:25] quanvo87 opened #48 "Add retry on login failure"
Logging in to an SMTP server fails intermittently, maybe because SMTP servers don't like someone logging in so much/quickly, which is what the tests do.

Adding a retry feature could be helpful, or a delay between tests.

[2017-08-31 14:04] quanvo87 commented on #41
https://github.com/IBM-Swift/Swift-SMTP/releases/tag/v1.1.2

@leanne63 merged and tagged. Thank you!

[2017-09-07 10:58] syagaevfeodor opened #50 "Could it be used with ios?"
Could it be used with ios?

[2017-09-07 19:42] #41 closed

[2017-09-07 20:13] quanvo87 commented on #50
I was able to run and pass the tests on a simulator. I would give it a try. Keep in mind, Swift 3.1.1 is required, so make sure your iOS supports that version.

[2017-09-12 22:38] leanne63 opened #51 "Tag/Release numbering problem?"
I've been trying to fetch v1.1.2 for a project; however, it keeps fetching 1.1.0 instead. Looking at the release and tag listing, I found this strange numbering sequence:

<img width="539" alt="screen shot 2017-09-12 at 5 33 54 pm" src="https://user-images.githubusercontent.com/7043045/30351456-0b713618-97e1-11e7-8c20-1bfd116db49e.png">

Thoughts?

[2017-09-13 14:29] quanvo87 commented on #51
Fixed by @youming-lin , thanks 😃

[2017-09-13 14:29] #51 closed

[2017-09-14 18:38] syagaevfeodor commented on #50
Can you please help me, how to install your library? When i just add it to
Package.swift, and in console make swift build, xcode give me a error, when
i try to import your library

2017-09-07 23:13 GMT+03:00 Quan Vo <notifications@github.com>:

[2017-09-14 18:45] quanvo87 commented on #50
Can you post your Package.swift, and what was the error you received?

[2017-09-14 19:15] syagaevfeodor commented on #50
The error is: "No such module 'Swift-SMTP' ", and here is my Package.swift,
i'm new to ios dev, so perhaps i did something wrong

[image: Встроенное изображение 1]

2017-09-14 21:45 GMT+03:00 Quan Vo <notifications@github.com>:

[2017-09-14 19:27] quanvo87 commented on #50
I'm not seeing your Package.swift, but here's an example of what one might look like:

[code]

[2017-09-14 19:34] syagaevfeodor commented on #50
Yes, i did it sow, but when i write import SwiftSMTP i get a error: "No
such module"

2017-09-14 22:27 GMT+03:00 Quan Vo <notifications@github.com>:

[2017-09-14 19:39] quanvo87 commented on #50
Once you've assured your Package.swift is correct, run `swift package generate-xcodeproj` in terminal within your project directory, then open the generated xcodeproj. After doing these, do you still get the same error?

[2017-09-15 04:47] syagaevfeodor commented on #50
I have this problem while running this ommand in terminal: error: the
package has an unsupported layout, unexpected source file(s) found:

2017-09-14 22:39 GMT+03:00 Quan Vo <notifications@github.com>:

[2017-09-15 15:03] quanvo87 commented on #50
What version of Swift are you using?

[2017-09-15 15:17] syagaevfeodor commented on #50
3.1

[2017-09-15 18:26] quanvo87 commented on #50
Swift-SMTP currently only supports Swift 3.1.1 (there is a bug in 3.1). Besides that, I am not sure what is causing your problem and will look into it.

[2017-09-16 12:37] syagaevfeodor commented on #50
How can i use swift 3.1.1 if with xcode apple provides swift 3.1?

[2017-09-16 15:35] quanvo87 commented on #50
Xcode 8.3 uses Swift 3.1.1, even though it says 3.1. So if you're using Xcode 8.3, that must not be your problem.

[2017-09-16 16:11] quanvo87 commented on #50
Is it possible to share your repo so we can take a deep look at the issue?

[2017-10-03 22:21] collinhundley opened #52 "Swift 4"
Any chance we can update Package.swift for Swift 4? Most of the other Kitura packages have already been updated.

[2017-10-04 01:26] quanvo87 commented on #52
@collinhundley I'll try to get this done within a day.

[2017-10-04 22:14] quanvo87 commented on #52
@collinhundley The latest tag adds Swift 4 support https://github.com/IBM-Swift/Swift-SMTP/releases/tag/v1.1.3

[2017-10-04 22:14] #52 closed

[2017-12-07 18:58] #48 closed

[2017-12-07 18:58] #47 closed

[2017-12-18 14:35] Obbut opened #54 "Why are almost all `Mail`-properties internal?"
I'm moving an application from the broken Vapor SMTP implementation to this one, and have noticed that almost all properties on a `Mail` are internal.

E-mails are sent from various places in the application, and we centrally log all sent e-mails into the database. Is there a specific reason why the properties (like `from`, `to`, `subject` and `text`) are internal?

[2017-12-18 23:04] quanvo87 commented on #54
I think it was to keep the public API as simple as possible. Presumably if the user created a `Mail` struct and supplied properties like `from, `to`, etc., then they could retrieve those values again from wherever they originally came from, without having to refer to the `Mail` struct.

But if there was a good reason to expose those properties than I would happily apply a fix.

[2017-12-18 23:05] #50 closed

[2017-12-19 09:38] Obbut commented on #54
I've worked around it by using my own struct for now, so for me it's not really a huge issue. If more people log their e-mails like we do, it may be a good idea to expose them.

[2017-12-19 10:56] Obbut opened #55 "Error "Operation now in progress" on Ubuntu"
I'm having trouble connecting to a Postfix mailserver running on a local Ubuntu 16.04 machine using Swift-SMTP 1.1.3. The SMTP server uses no authentication and it is configured like this:

[code]

When trying to send an e-mail, an error (Error code: -9989(0x-2705), Operation now in progress) is thrown. Interestingly, the error remains when I change the port to another invalid port.

The SMTP sett

[2017-12-19 19:55] quanvo87 commented on #55
I suspect that error is coming from the underlying socket library `Swift-SMTP` is using. And since you're getting the same error regardless of port, the error may be happening when the client is trying to connect to the hostname. I have never used Postfix, but maybe instead of `127.0.0.1`, you can try the FQDN.

That said, `Swift-SMTP` always tries to authenticate. If the `ehlo` command returns no

[2017-12-19 19:56] quanvo87 commented on #54
Sure, we can expose those properties. I'll apply the fix with the next release, pending any changes that happen as a result of #55.

[2018-02-27 17:37] zmeyc commented on #55
Got the same error and code on OS X when trying to connect to invalid host (mistyped host name).

Fixed the hostname, but still getting the same error in different place:
It first tries to connect to port 587, sends 'starttls', then tries to reconnect to "Ports.ssl" (465) which my server is not listening on and fails...
[code]
Should it also use port 587 there?

[2018-02-27 18:10] quanvo87 commented on #55
@zmeyc What you're saying sounds correct. I will test this.

[2018-02-27 18:23] quanvo87 commented on #55
@zmeyc It probably shouldn't use port 587 there. Typically, 465 should be used there. But since it seems like your server (and thus potentially other servers) aren't listening on 465 for SSL, an option to specify which SSL port to listen should be added. I'll work on this.

[2018-02-27 18:26] quanvo87 commented on #55
Is it possible for you to share what server this is so I can try to test locally?

[2018-02-27 18:29] quanvo87 commented on #55
@Obbut sorry for the very late response. I have had other team commitments. I will also try to implement no auth as well. How did you run a local SMTP server that requires no auth? (so I can test my fixes locally)

[2018-02-27 18:54] zmeyc commented on #55
https://en.wikipedia.org/wiki/Opportunistic_TLS
https://tools.ietf.org/html/rfc3207

I've read up a bit about STARTTLS and it looks like the client shouldn't reopen connection at all and handshake should look like:

[code]
This article has a good overview: https://www.fastmail.com/help/technical/ssltlsstarttls.html

It seems mine is using the latter. It's Mail-in-a-box installation, I can email it

[2018-02-27 19:22] zmeyc commented on #55
I tried changing the port to 587, but it hangs up inside of second call to connect() indefinitely.

[2018-02-27 19:54] quanvo87 commented on #55
Is there a way for you to look up the regular/SSL ports your server uses?

[2018-02-27 20:04] zmeyc commented on #55
It's using:

https://github.com/mail-in-a-box/mailinabox/blob/master/security.md

[2018-02-27 20:40] quanvo87 commented on #55
Based on:

and

maybe one thing you can try is initializing your `SMTP` struct with a custom `SSL` passed in:

[code]

And also force it to use `587` for both normal and TLS ports.

[2018-02-27 20:54] zmeyc commented on #55
Done. Same problem, stuck in sslReadCallback on:

[code]

<img width="479" alt="screen shot 2018-02-27 at 23 52 34" src="https://user-images.githubusercontent.com/1219443/36754165-5707505a-1c19-11e8-9e93-678145a3c5a8.png">

[2018-02-27 20:58] zmeyc commented on #55
If I try setting breakpoints while it's stuck it exists with:
[code]

[2018-02-27 21:00] zmeyc commented on #55
I think on reconnect it tries to use smtps which isn't supported on port 587.

[2018-02-27 21:16] quanvo87 commented on #55
So this is at the `BlueSSLService` layer, though may not be the only problem. @billabt do you have any thoughts on this?

[2018-02-28 17:10] zmeyc commented on #55
To make sure it's not server problem, I tried Ruby's mail gem:

Gemfile
[code]

send_email.rb
[code]

[code]

And curl:

[code]

Both are working.

[2018-02-28 17:30] billabt commented on #55
I can’t right now. Dealing with a death in the family. Monday at the earliest.

[2018-03-01 05:43] quanvo87 commented on #55
My deepest condolences Bill. Please take your time.

[2018-04-05 08:55] dmitrykurochka opened #62 "Way to define either TLS or SSL"
Hi! I tried to find in documentation a way to use ssl or tls option for sending mails. Is there any way except to define 465 or 587 port? Because I want have an options to define a port and tls separately. Does anyone have any suggestions?

I've asked because I could not send to gmail smtp by 465 port
only through 587

[2018-04-05 15:34] quanvo87 commented on #62
You can specify the port to use when you initialize your `SMTP` instance.
You can also specify what type of SSL to use. You can leave this parameter out and it will fallback to using SSL with no backing certificates. If your SMTP server requires SSL, Swift-SMTP will automatically attempt SSL (gmail requires SSL).
Can you show how you are configuring your `SMTP` instance? I have tested on gmail and

[2018-04-05 15:41] quanvo87 commented on #62
Currently, I believe TLS happens IFF your server does not offer SSL.

I could add the ability to explicitly specify TLS, and throw any errors that occur (ie server requires SSL).

[2018-04-05 15:44] dmitrykurochka commented on #62
Could you try 465 port?
It would be great to have an option to explicitly specify tls, ssl option

[2018-04-05 15:45] quanvo87 commented on #62
Also an FYI, the `Port` type is merely a typealias for `Int32`. The `SSL` and `TLS` `Port`s are just enum cases with values 465 and 587 respectively. Perhaps this is poor design. But either way, you can safely specify which port to use, without affecting whether `SSL` or `TLS` is used. The latter is currently determined by the specifications of your SMTP server.

[2018-04-05 15:46] quanvo87 commented on #62
Ok, I'll test that again and let you know.
I'll go ahead and add the option to explicitly specify TLS/SSL. This has been requested before.

[2018-04-05 15:49] dmitrykurochka commented on #62
Cool, thanks a lot

[2018-04-05 16:26] quanvo87 commented on #62
I initialized my `SMTP` struct like this:

[code]

I was able to send an email with this.

If you initialized like this:

[code]

it will error. I think this is because you can't initially attempt to connect to an SMTP server on a SSL port. You must first connect via it's TLS port (usually 587), and then upgrade to its SSL port (usually 465). So have you tried connecting to gmail without specifyin

[2018-04-05 17:38] dmitrykurochka commented on #62
That’s exactly what I’m talking about. That’s why we should have more configurable init function. Because I know thar default case works for gmail. But what about other providers. It should be configurable to be flexible.

[2018-04-06 01:53] quanvo87 commented on #54
Fixed in https://github.com/IBM-Swift/Swift-SMTP/releases/tag/v3.0.0

[2018-04-06 01:53] #54 closed

[2018-04-06 01:53] quanvo87 commented on #62
[3.0.0](https://github.com/IBM-Swift/Swift-SMTP/releases/tag/v3.0.0) has been released. Please give it a try and let me know of any issues.

[2018-04-06 12:02] dmitrykurochka commented on #62
Hi! I have tried new version.
Now 465 port is working ok,
but I could not get worked 587 port either by useTLS: true or useTLS: false
Do you have any ideas why?

[2018-04-06 13:39] quanvo87 commented on #55
@zmeyc 3.0.0 has been released that brings some API and internal changes. Do you want to give it a shot and see if it solves your problem? See the migration guide [here](https://github.com/IBM-Swift/Swift-SMTP/blob/master/migration-guide.md).

[2018-04-06 15:05] quanvo87 commented on #62
- If you set port to `587` and set `useTLS` to `true`, it will fail because gmail's TLS port is 465.
- If you set port to `587` and set `useTLS` to `false`, it will fail because gmail requires a TLS connection to send mails.

Is there a reason you are trying to use port 587?

[2018-04-06 15:34] dmitrykurochka commented on #62
I used nodemailer in another project. And it could send both to 465 with and without tls
And it sends to 587 only with tls enabled otherwise if fails

[2018-04-06 16:44] quanvo87 commented on #62
I'm not sure how that is happening in `nodemailer`. According to their docs:

Which is very similar to what `Swift-SMTP` does.

Are you explicitly setting the port to 465 and turning off `secure` (and why)? Perhaps in the background, when `secure` is set to `false`, it falls back to port 587 for the initial connection, but I don't know.

This seems converse to their documentation. Their documentat

[2018-04-06 16:49] dmitrykurochka commented on #62
I do not trying to reimplement the same functionality as nodemailer. And I wondering why it works and Swift-SMTP doesn't. I just want be sure that I'll be prepared to any intergations with user's smtp. Because it should be fully configurable by user through web interface.

[2018-04-06 16:56] dmitrykurochka commented on #62
Also as you remember. In previous version of library I wasn't able to send through 465 port
only through 587
Not it's vice versa

[2018-04-06 17:42] quanvo87 commented on #62
I'm not sure how it's working in `nodemailer`. I hope to one day learn!

only through 587
Not it's vice versa

Correct. In the previous version, this is what happened:
- You set port to 587 (which was the default)
- it opened a connection to your server on that port
- It sends a `ehlo`/`helo`
- If your server responses includes `STARTTLS` (gmail does), then it automatically closes the connection,

[2018-04-06 17:45] dmitrykurochka commented on #62
I got it. Yeah I hope so. Thanks a lot for your work.

[2018-04-06 17:47] #62 closed

[2018-04-06 20:11] quanvo87 opened #65 "Add requireTLS"
From [nodemailer](https://github.com/nodemailer/nodemailer):

[2018-04-25 17:23] quanvo87 opened #70 "document all APIs and regen jazzy"

[2018-04-27 13:46] rafiki270 opened #71 "Update Cryptor"
Cryptor is on version 1.0.2 now with fixed swift 4.1 warnings

[2018-04-30 10:19] quanvo87 commented on #71
Thanks, I'll get this update in before the 4.0 release as well.

[2018-04-30 19:20] #70 closed, assigned to nobody

[2018-05-01 11:34] Davidde94 opened #74 "Conflicting requirements with Kitura 2.3"
Package attached:

<img width="786" alt="screen shot 2018-05-01 at 12 33 18" src="https://user-images.githubusercontent.com/14052839/39471626-fbe63b88-4d3b-11e8-9ef4-5953fcce8fea.png">

[2018-05-01 12:06] ianpartridge commented on #74
@quanvo87 I think the issue is that all the Blue* repos have gone to 1.0.0 with Swift 4.1 - so SMTP needs to pull in Socket 1.0.0 and SSLService 1.0.0 too.

[2018-05-01 13:57] quanvo87 commented on #74
https://github.com/IBM-Swift/Swift-SMTP/releases/tag/4.0.1

[2018-05-01 13:57] #74 closed

[2018-05-04 13:34] Zig1375 opened #77 "The dependency graph could not be satisfied"
I try to install only this package and get an error: "The dependency graph could not be satisfied"

[2018-05-04 14:26] quanvo87 commented on #77
Could you post your Package.swift?

[2018-05-04 14:37] Zig1375 commented on #77
**Ubuntu 16.04**

`
import PackageDescription

let package = Package(
    name: "RepAPI",
    targets:      [],
    dependencies: [
        .Package(url: "https://github.com/IBM-Swift/Swift-SMTP.git", majorVersion: 2, minor: 0)
    ]
);
`

Fetching https://github.com/IBM-Swift/Swift-SMTP.git
error: dependency graph is unresolvable; found these conflicting requirements:

Dependencies:
    https://g

[2018-05-04 14:44] quanvo87 commented on #77
Can you try using the latest version `4.1`?

[2018-05-04 14:58] Zig1375 commented on #77
[code]

[2018-05-04 15:08] quanvo87 commented on #77
Sorry, I meant the latest version of `Swift-SMTP`, which is also at `4.1`!

[2018-05-04 15:13] Zig1375 commented on #77
[code]

[2018-05-04 15:26] quanvo87 commented on #77
I am not sure why it is trying to pull in Swift-SMTP at 3.0.0 if you're specifying 4.1. Maybe you need to delete your .build folder? Also, are you using the latest Package.swift format? I used this minimal Package.swift and was successfully able to build a new project:

[code]

[2018-05-04 15:38] Zig1375 commented on #77
Thank you.

[2018-05-04 15:38] #77 closed

[2018-06-21 00:50] trametheka opened #79 "Omission of STARTTLS"
This relates to PR https://github.com/IBM-Swift/Swift-SMTP/pull/78 which I have closed for now in favour of an issue for discussion.

I had a bit of a misunderstanding in the migration guide of what this library is expecting to be the behaviour of SMTP/S and STARTTLS which is incorrect.

SMTP over 465 is deprecated/legacy, some references:
- https://en.wikipedia.org/wiki/SMTPS
- https://www.mailgu

[2018-06-21 16:21] quanvo87 commented on #79
Yep you are correct, that's has STARTTLS should work, and I don't see a problem with reintroducing that flow back into the library, with some improvements over the version 2 implementation.

We settled upon the current implementation because while it doesn't exactly follow the SMTP flow, it should give a user all the customization she needs to correctly configure the class and connect to her serve

[2018-06-22 04:38] trametheka commented on #79
By this reasoning everything that can be supported should be

This is fair enough, but in the same way not all servers will support STARTTLS, not all servers will support TLS directly by default, or at all

This is because you were closing the socket when the starttls command was issued instead of upgrading it to TLS. I can confirm that my PR is working with postfix, gmail and outlook smtp on port

[2018-06-22 13:47] quanvo87 commented on #79
This sounds excellent. Yes, with `noTLS`, the user should expect the possibility of that error.

For `TLSMode`, what is the difference between `normal` and `requireSTARTTLS`?

It sounds like it could be:

[code]

[2018-06-25 00:51] trametheka commented on #79
normal would continue on regardless of a starttls, i.e. as the client you're essentially saying you accept that you will use a non-TLS connection if the server does not request the upgrade.

requireSTARTTLS means that you want the connection to be upgraded to TLS. I.e. as the client if you do not see a starttls command issued, disconnect.

[2018-06-25 15:53] quanvo87 commented on #79
Ok makes sense. How about this for the enum?:

[code]

So this just reduces the cases to 3. I'm not sure both `requireTLS` and `requireSTARTTLS` are needed, and having both convolutes the API a bit in my opinion.

The functionality we lose here is being able to attempt TLS from the start or only after the `HELO/EHLO` command. If someone is going to require TLS, how about we just open a TLS connect

[2018-06-26 04:11] trametheka commented on #79
From https://github.com/IBM-Swift/Swift-SMTP/issues/79#issuecomment-399318288

I feel we're going in circles here so this will be my last comment on this issue. I will open a pull request shortly and leave it to you to accept/deny. I'd like to see a complete swift implementation like this have a central space instead of companies and others having to rely on a forked version.

For reference, EFF v

[2018-06-26 21:19] #79 closed

[2018-06-26 21:19] #65 closed

[2018-06-28 16:44] quanvo87 opened #84 "add installation guide to readme"

[2018-07-05 23:04] parker1010 commented on #84
Please add an installation guide asap! I'd like to use this module in my xCode project but don't know how!

[2018-07-06 15:39] quanvo87 commented on #84
@parker1010 installation instructions have just been added! Please check out the README and let me know if you have any issues.

[2018-07-07 22:34] parker1010 commented on #84
@quanvo87 Thanks for the quick response! I generated a new Xcode project with the command "swift package generate-xcodeproj" but that new project won't run the Simulator. After researching about Swift Package Manager I found: "The generated project is ideal for unit tests. It does not include the overhead of launching the iOS simulator or a target application." Any advice for people like me who wa

[2018-07-09 23:07] parker1010 commented on #84
@quanvo87 Yes, I'm learning iOS app development. Installation instructions using CocoaPods would be very helpful for me as I'm already using CocoaPods (for Google Firebase) in my current iOS project.

[2018-07-10 15:00] quanvo87 commented on #84
I'll work on adding CocoaPods support sometime this week.

[2018-07-13 16:54] quanvo87 commented on #84
Unfortunately adding dual support for SPM and CocoaPods is proving to be difficult for me to figure out. This feature may not added in the near future as I can't commit too much time to this right now. Any pointers would be appreciated!

[2018-08-08 14:38] imgruntw opened #90 "send email from gmail not working"
I can't send email from my gmail account with following code:
`
import SwiftSMTP

public final class SwiftToolBoxCore {
    public func send() -> Void {
        let smtp = SMTP(
            hostname: "smtp.gmail.com",
            email: "myaccount@gmail.com",
            password: "mypassword",
            tlsMode: .requireSTARTTLS
        )

        let fromUser = Mail.User(
            name: "-

[2018-08-18 17:02] imgruntw commented on #90
I am thanking for speedy responses!
Here is my repo: https://github.com/imgruntw/SwiftToolBox

[2018-08-22 14:16] quanvo87 commented on #90
How are you running this project? When I run, nothing is happening. It may not be related to Swift-SMTP.

[2018-08-27 10:04] imgruntw commented on #90
- run in console: `swift package generate-xcodeproj`
- insert your email account data in Method: `send()` in `/SwiftToolBox/Sources/SwiftToolBoxCore/SwiftToolBoxCore`
- after open SwiftToolBox-project in Xcode and choose `SwiftToolbox` and then run

the Method: `send()` in `/SwiftToolBox/Sources/SwiftToolBoxCore/SwiftToolBoxCore` is executed, but without sending an email and without any errors

[2018-08-27 13:27] quanvo87 commented on #90
Perhaps execution of the program is ending before the asynchronous task can finish. When I put a print statement in the closure of `smtp.send()`, the print statement is not executed but the program returns with exit code 0.

[2018-08-28 20:03] imgruntw commented on #90
Thanks, waiting for end of the asynchronous task with was the solution .

[2018-08-28 20:03] #90 closed

[2018-10-03 20:19] Oliver-Binns opened #91 "Error code: -9968(0x26f0), Operation now in progress"
I am trying to send mail through Zoho Mail using Swift-SMTP as part of a Vapor app on a Linux server.
I am sending the mail in the background thread once triggered using a HTTP request.

[code]

The console prints out an annoyingly unhelpful "Error code: -9968(0x26f0), Operation now in progress". Please can you help me to decipher the meaning of this?

[2018-11-09 12:15] djones6 commented on #91
@Oliver-Binns I'm not sure, but my guess is that the connection to the SMTP server is timing out, and this is resulting in a confusing error message.

The error `-9968` is defined in BlueSocket as `SOCKET_ERR_CONNECT_TIMEOUT` here:
https://github.com/IBM-Swift/BlueSocket/blob/1.0.24/Sources/Socket/Socket.swift#L1837

It is reported along with the 'last error' returned for the socket, which appears

[2018-12-16 16:37] BraveMongoose opened #94 "SSLService.Configuration compile errors on macOS"
Seeing these compile errors for the SwiftSMTP module since updating my project dependencies:

`.../Sources/SwiftSMTP/TLSConfiguration.swift:33:36: 'init(withCipherSuite:clientAllowsSelfSignedCertificates:)' is unavailable: This API not supported on Apple platforms.`

`.../Sources/SwiftSMTP/TLSConfiguration.swift:53:36: 'init(withCACertificateFilePath:usingCertificateFile:withKeyFile:usingSelfSigne

[2018-12-17 10:39] ianpartridge commented on #94
This should be fixed in version `1.0.41` of BlueSSLService - this commit: https://github.com/IBM-Swift/BlueSSLService/commit/499c8bfcefda58a1963927651619012e2311e90f

Please run `swift package update` and rebuild.  Sorry!

[2018-12-17 10:39] #94 closed

[2018-12-30 19:51] solkpolk opened #95 "Deployment target 10.3"
Any ideas of how to get it working on a lower deployment target?

[2019-01-08 01:11] diuming opened #96 "Could you provide an example with TSL or SSL?"
I'm testing Swift-SMTP with Gmail in two situations. (less secure app access is `on` and `off`)

1)less secure app access is `on`
   The Swift-SMTP works very well
2)less secure app access is `off`
    The Swift-SMTP will cause an issue, please refer to following

So, could you provide an example for situation 2

issue with gmail (when less secure app access is off)
---
Bad response received for c

[2019-01-08 12:50] quanvo87 commented on #96
I don't think it is possible for it to work with less secure app access turned off.

[2019-01-09 16:00] djones6 opened #97 "CI failure with Swift 5"
https://github.com/IBM-Swift/Swift-SMTP/pull/93 attempts to add Swift 5 coverage to CI, however one of the tests fails on Linux with:

`/home/travis/build/IBM-Swift/Swift-SMTP/Tests/SwiftSMTPTests/TestMiscellaneous.swift:82: error: TestMiscellaneous.testMailHeaders : XCTAssertTrue failed - Message-Id header missing or invalid`

This needs some investigation.

[2019-01-26 23:16] darrellroot opened #98 "Swift-SMTP interoperability problem with Yahoo SMTP for 8k+ attachments"
I'm not sure whether this problem with worthy of your attention, since (so far) it seems to be specific to one email provider and for large attachments only.  But I thought I'd report it in case more providers are affected.

When sending an attachment of size 8k+ from my Yahoo account and using smtp.mail.yahoo.com as my SMTP server, I get the following error message:

Bad response received for com

[2019-04-01 10:57] djones6 commented on #97
No longer recreatable (#93)

[2019-04-01 10:57] #97 closed

[2019-04-04 18:15] deepakyadeedya commented on #84
Hi, I need to add a .txt file in the background I mean without the user interface...! If you need I will share my code what I'm doing please help.

[2019-06-16 09:55] NicolasKim opened #100 "SwiftPackageManager generate-xcodeproj error in vapor3 project"
[code]

[2019-06-17 14:06] helenmasters commented on #100
Hi @NicolasKim,

This was unfortunately a result of us adding support for Apple's swift-log to LoggerAPI which you can read about in our blog here https://developer.ibm.com/swift/2019/06/12/using-swift-log-with-kitura/

I suggest that you take a look at the thread about the logging module name clash on the Swift forums -> https://forums.swift.org/t/logging-module-name-clash-in-vapor-3/25466 for mo

[2019-06-19 08:31] ianpartridge commented on #100
Yes there's nothing we can do about this from the Kitura side, unfortunately.

[2019-06-19 08:31] #100 closed

[2019-07-30 08:50] Mishalovoper opened #101 "A simple request"
Can you please do a Cocoapod reference for this project?

[2019-07-30 13:38] Nathipha opened #102 "Swift-SMTP breaks simulator"
I followed the instructions provided exactly to add the library to a brand new project (only has a button and an outlet for it) but after running `swift package generate-xcodeproj` there's now two simulators for each device: e.g. "iPhone SE (12.0)" and "iPhone SE 12.4".

No matter which one I pick the simulator doesn't open anymore.
Building is still successful but the simulator simply doesn't ope

[2019-07-30 14:51] quanvo87 commented on #102
Right now Swift-SMTP only supports Swift packages. Running `swift package generate-xcodeproj` generates an Xcode project as a package. The simulator won't run for packages. I'm not sure where iOS support is in the pipeline. @djones6

[2019-07-31 08:55] Nathipha commented on #102
@quanvo87 Thanks for your quick reply!
Oh. How can I test an app with Swift-SMTP without a real device?
Are there any plans on adding support for CocoaPods?

[2019-08-13 09:02] jancywen opened #103 "vapor xcode failed"
vapor xcode failed

[code]

Package.swift

[code]

[2019-08-13 09:36] helenmasters commented on #103
Hi @jancywen,

There is a post on the Swift Forums within the Vapor project about this issue https://forums.swift.org/t/logging-module-name-clash-in-vapor-3/25466.

There is a description in there about why this happened and a workaround describing how to pin to Logger API version to < 1.9.0 (as it doesn't look like the PR to rename Vapor's Logging module has been merged yet).

This should address

[2019-08-17 01:46] jancywen commented on #103
Thank you very much, vapor xcode success

[2019-08-17 01:46] #103 closed

[2019-09-06 17:19] vvicenteABA opened #104 "Could not generate Xcode project: error: multiple products named 'Logging' in: Console, swift-log"
At first thank you so much about generate and maintain this library. Your work is awesome!

I need some improvements on the naming of your LogginAPI.
 If I try to use this Swift-SMTP library with my vapor project, I receive this error:

"Could not generate Xcode project: error: multiple products named 'Logging' in: Console, swift-log"

It's happens when I add this package
.package(url: "https://gi

[2019-11-06 16:23] anxhela-coder commented on #91
@Oliver-Binns I got the same error when I was running the app in simulator. Try to run it in a real device.

[2020-05-01 10:45] LinusGeffarth opened #106 "Mail declined by recipient: Syntax error - line too long"
I cannot send emails to *some* email addresses. They are rejected with the following message:

and some more info from here:

Status: 5.0.0
Remote-MTA: DNS; mx-ha02.web.de [212.227.17.8]
Diagnostic-Code: SMTP; 501 Syntax error - line too long
Last-Attempt-Date:
Final-Log-ID: i04d66w419XirMM

Any idea what I need to do?

[2020-06-19 12:21] lmcd opened #107 "No anonymous authentication?"
I'm using an SMTP server that doesn't require authentication, though when Swift-SMTP attempts to authenticate with empty credentials, it fails.

I'm having no issues at all sending mail anonymously with the `swaks` tool.

How do I specify a credential-less SMTP configuration?

[2020-07-10 17:07] nshapkar opened #108 "Error with xouath2"
Hello,
I want to use Swift SMTP with my g suite gmail account, I created service account and key in pkcs format and got Error: "bad response" when authenticating with xOuath2.
If I create certificate and private key from p12 file I'm getting, pkcs12 is not specified.
I don't know which certificate to use, which key, can you please provide an example of Swift SMTP with TLS ?

Thank you

[2020-07-31 13:25] Poreis opened #109 "Error when adding to dependencies"
First thank you for this awesome library!
So I have done everything like you say but I get this error :

`error: dependency 'SwiftSMTP' in target 'Resumos.nosync' requires explicit declaration; provide the name of the package dependency with '.package(name: "SwiftSMTP", url: "https://github.com/IBM-Swift/Swift-SMTP", .upToNextMinor("5.1.0"))'` and now I can't install it

[2020-08-21 03:54] RuchiMakadia opened #110 "HTML related attachment image not work on gmail mail"
Hello I have a face issue  when i add html content with related attachment and send it to mail send function Using below CONTENT-ID that work only in iphone mail not in gmail mail. In gmail mail it take as a attachment instead of html src.

[code]
Thank you
Ruchi

[2020-10-03 00:20] evitiello commented on #106
I receive the same type of issue when sending an HTML attachment. The mail arrives, but it is truncated and has the following in the header:

[2020-10-03 07:01] mbarnach commented on #106
@LinusGeffarth Could you provide an example of mail and address that is declined?
Could it be declined by the receiving server (as the error message suggested)?

[2020-10-03 07:03] LinusGeffarth commented on #106
It is declined by the receiving server, yes. That's why I can still send to _some_ email addresses, while I cannot send to others.
Unfortunately, it's been a while since this issue occurred so I'm not sure I'll find that email...what exactly do you need? The Leaf view? Or the raw email?

[2020-10-03 07:20] mbarnach commented on #106
I was looking for a way to reproduce it.
I've also found that the maximum length for a line should be 998 (1000+CR LF).
This [StackOverflow thread](https://stackoverflow.com/questions/29661264/501-syntax-error-line-too-long#:~:text=This%20problem%20occurs%20if%20the,Try%20to%20wrap%20long%20lines.) shows the same issue and the solution.
You could add that to your content.
If you come up with a goo

[2020-10-03 07:31] LinusGeffarth commented on #106
Yeah that 998 chars per line was probably the issue. However, I was not able to reduce line lengths, because just making shorter HTML in the Leaf views didn't help.

[2020-10-03 07:32] mbarnach commented on #106
Could it be the CR LF that was not using the right encoding? In that case, we will need to have a way to reproduce it in order to fix it...

[2020-10-03 09:20] LinusGeffarth commented on #106
I'll see if I can grab a copy of the email I tried to send. In which form do you need it? The email itself, or the Leaf view, or something else?

[2020-10-03 09:36] mbarnach commented on #106
The raw text should do it.

[2020-11-19 14:08] moyerr opened #112 "Accessing the Documentation page results in a 404"
When I navigate to the documentation URL linked in the README, I get a 404 error. Link for reference:

https://ibm-swift.github.io/Swift-SMTP/

[2020-11-26 09:25] mbarnach commented on #112
This should be fixed by PR #111 once merged. Thanks for pointing it out.
For reference, and if you need it, the doc is at: https://kitura.github.io/Swift-SMTP/

[2020-12-09 17:27] dannys42 opened #115 "Unit test needs new testing credentials"
Current unit tests fail due to email test credentials.

[2020-12-09 17:40] dannys42 commented on #112
@moyerr This should be resolved now.

[2020-12-09 18:31] moyerr commented on #112
Thank you!

[2020-12-09 18:31] #112 closed

[2020-12-16 19:04] dannys42 opened #116 "May need to update function signatures to remove warnings on completion handlers"
Need to review function signatures to see if there's a way to remove compiler warnings [[PR 114](https://github.com/Kitura/Swift-SMTP/pull/114#pullrequestreview-548443724)]

[code]

[2020-12-16 21:38] sanzaru commented on #109
Maybe a bit late, but:

Try to specify a name for the package inside your Package.swift:

[code]

After specifying the name I could run swift build without problems.

[2021-05-17 17:23] willm132 opened #118 "Reply To"
Is there a way to set a reply to email. So if the user who got an email clicks reply it can be set to another email address?

[2021-05-18 11:58] mbarnach commented on #118
Hi @willm132,

I can't find the SMTP closure for Reply-To. Do you have any relevant documentation we could look at?

If you are able to make a PR (directly), we will look at it!

Thanks.

[2021-05-18 12:03] willm132 commented on #118
@mbarnach I was wondering if this is a feature that is already included or can be added. I used to use [this](https://swiftpack.co/package/Mikroservices/Smtp) package a few years ago before it stopped being support. It allowed you to send from one email, then specify a reply to a different email. So I can send a customer an email, if they click reply it will be sent to a different email.

[2021-05-18 12:47] mbarnach commented on #118
From the code, it seems that the closure is `Reply-to:`.
It should work if we add the command to https://github.com/Kitura/Swift-SMTP/blob/master/Sources/SwiftSMTP/Command.swift
and the needed field in https://github.com/Kitura/Swift-SMTP/blob/master/Sources/SwiftSMTP/Mail.swift
Then extending https://github.com/Kitura/Swift-SMTP/blob/master/Sources/SwiftSMTP/MailSender.swift should be easy.
Do yo

[2021-05-18 12:51] willm132 commented on #118
@mbarnach Unfortunately I wouldn't have any idea on how to do that.

[2021-05-18 12:53] mbarnach commented on #118
Too bad! I will see if I can have a look at it.

[2021-07-19 19:02] willm132 opened #119 "The operation couldn’t be completed. (SwiftSMTP.SMTPError error 3.)"
I am getting this error when attempting to send from:

hostname: "smtp.office365.com",
port: 587,
tlsMode: .requireSTARTTLS

[2021-07-19 19:20] #119 closed

[2021-09-28 20:33] willm132 opened #120 "Sending from Exchange Business email"
I am trying to send from an email using GoDaddy Office 365 Exchange. Every time I attempt to do this I am getting an error saying denied. How can I find out what port and security information to use with Swift SMTP?

The operation couldn’t be completed. (SwiftSMTP.SMTPError error 3.)

How can I find out what to put here:

hostname: String,
port: Int32 = 587,
tlsMode: TLSMode = .requireSTARTTLS,
tl

[2021-09-29 04:42] dannys42 commented on #120
Looking at the source, SMTPError 3 may be:

```    /// The preferred `AuthMethod`s could not be found, or your server is sending back a STARTTLS command and requires a connection upgrade.
    case noAuthMethodsOrRequiresTLS(hostname: String)
[code]

[2021-09-29 19:41] willm132 commented on #120
I attempted to change tslMode to .requiresSTARTTLS and I am getting the same error

[2021-09-29 20:27] willm132 commented on #120
I was able to fix this by enabling Authenticated SMTP from the mail server settings

[2021-09-29 20:27] #120 closed

[2021-11-15 05:44] t-ae opened #121 "Line length limit"
According to [RFC5322](https://datatracker.ietf.org/doc/html/rfc5322#section-2.1.1):

If we have multiple `to`, they are joined to comma separated single line.

https://github.com/Kitura/Swift-SMTP/blob/f9b1d704b196a23787970649922cbb8e29348ea6/Sources/SwiftSMTP/Mail.swift#L125

This can easily violate the 998 characters limit.
In my environment, I receive broken mail if there are too many `to`.
(I

[2021-11-22 13:43] willm132 opened #122 "TLS Mode Requirements"
Exchange business is retiring TLS 1.0 and 1.1 starting on January 3rd, 2022 they will be forcing TLS 1.2. When this happens do I need to change anything when using Swift SMTP? I currently use TLS but it does not specify what version it uses.

We're making some changes to Direct Routing SIP interface.

On January 3rd 2022, to provide the best-in-class encryption to our customers, we will begin reti

[2021-12-02 13:21] willm132 commented on #122
Can anyone help me with this?

[2021-12-22 20:17] sbeitzel commented on #122
Taking a look at [TLSConfiguration](https://github.com/Kitura/Swift-SMTP/blob/master/Sources/SwiftSMTP/TLSConfiguration.swift), it seems that the TLS protocol isn't actually specified in this library, but in the SSL library it depends on (BlueSSL, also from Kitura). I'd start by taking a look over there to see if there's some setting you can provide to it.

[2021-12-23 06:26] sbeitzel commented on #107
Hmm. According to [RFC 4954](https://datatracker.ietf.org/doc/rfc4954/), if a client is providing an empty user name, the server *must* deny the authentication request. So, instead of using EHLO the anonymous connection should probably start with HELO.

[2021-12-27 15:46] MattTimmons opened #124 "HTML Body File Template with Variables"
Other SMTP / email libraries for JS or Python have the ability to "render" an html files and pass through variables.

ie.. pseudo code:

[code]

I know I can pass html as a string and use variable that way, but that would make a for a lot in one file. Any other suggestions or could something like this be possible as feature request?

[2021-12-27 18:22] MattTimmons commented on #124
To add a bit more.
I know I can load in an html file as string and use it..

`let emailTemplateFile = Bundle.main.path(forResource: "myemail", ofType: "html")!
        let contents = try? String(contentsOfFile: emailTemplateFile)

        let htmlContent = Attachment(htmlContent: contents!)
        let mail = Mail(
            from: fromEmail,
            to:emailUsers,
            cc: [],

[2022-01-01 00:13] dannys42 commented on #124
For relatively simple use cases, perhaps you can keep your text/html in a struct.  For example, something like this:

[code]

When it comes to mailing then you should simply use `Message(username: "Charlie")`.

If you really want to be able to read the contents from a file, you could perhaps use Codable and load from a JSON or have a custom Decoder.  Or you could use a templating system like [Sten

[2022-01-01 21:04] MattTimmons commented on #124
I will look more into this. Loops are another good use for this.. like building a list of things in an email, all things I have come across recently. For simple things, like a username and one-time string, are fine, but more complex is obviously more difficult. I just thought I would highlight to desire to have something similar in this framework.

[2022-01-04 14:27] wnagrodzki commented on #107
If no authentication is required, client should not send `AUTH` command at all. I was able to send email via telnet with SMTP server that does not require authentication, listing below:

[code]

[2022-01-11 00:34] sbeitzel commented on #124
Kitura already has a template engine in place for the web server component -- is it reasonable to try using [Stencil](https://github.com/Kitura/Kitura-StencilTemplateEngine), or does that wind up pulling in other unnecessary stuff?

[2022-01-15 19:47] sbeitzel commented on #107
The issue seems to be in `SMTPSocket.init(...)` -- specifically, the last two lines **always** try to authenticate, even if the server's response does not actually include a 250-AUTH line:

[code]

[2022-01-19 00:44] sbeitzel commented on #118
This seems kind of weird. I mean, if it's just sticking a 'Reply-To' header on the message, why not do that? Is it true that only known headers get sent? What if the client who's using the library wants to include something special, like, 'X-Client-Signature' in the message headers?

[2022-04-07 22:03] willm132 opened #128 "Undelivered Emails"
Your message contains invalid characters (bare line feed characters) which the email servers don't support.

This error occurs when the email program or device used to create or send an email message adds bare line feed characters into the message. When bare line feed characters are included in a message, the SMTP protocol chunking feature is required to transmit the message between email servers.

[2022-06-13 09:06] Dave181295 opened #129 "Reply to the sender send to receiver"
Looks like we can't reply to the receiver, its showing my mail ..

[2022-06-26 12:09] DoronTorangy opened #130 "Could not find module 'SwiftSMTP' for target 'x86_64-apple-ios-simulator'; found: arm64-apple-ios-simulator"
Hey, I'm using this library and it works on a real device.
But when I try building for a simulator, I get:

Any idea how to solve this?

[2022-06-26 23:59] dannys42 commented on #130
I don''t believe this is specific to SwiftSMTP.  Perhaps some of these suggestions will help you:

From Apple's developer's forum:
https://developer.apple.com/forums/thread/123614

And on Stackoverflow here:
https://stackoverflow.com/questions/56957632/could-not-find-module-for-target-x86-64-apple-ios-simulator

[2022-08-09 14:43] willm132 opened #131 "SMTPError error 1"
The operation couldn’t be completed. (SwiftSMTP.SMTPError error 1.)

I am getting this error when attempting to email with 5 attachments, it works fine if I remove the attachments.

`let fileAttachment = Attachment(filePath: newLocation, mime: newMime, additionalHeaders: ["CONTENT-ID": newName] )`

[2022-09-21 09:10] mixable commented on #122
Did you find a solution for this? Looking into the SSL library didn't help me to find something about TLS 1.2.

[2022-09-23 04:25] dannys42 commented on #122
Is this on Linux or macOS?  I haven't spent a lot of time with the OpenSSL library, but if I understand this blog post https://www.openssl.org/blog/blog/2017/05/04/tlsv1.3/, then for Linux, perhaps it's just a matter of linking to a newer version of openssl?

[2022-11-09 14:08] willm132 commented on #128
Is there a way to adjust LF to a CRLF when sending emails?

[2022-11-09 14:09] willm132 commented on #128
@dannys42

[2022-11-09 14:10] #122 closed